<div>
  <h1>Tuan Thanh Tan</h1>
  <h2>I'm a Seneca Student, as well as front-end developer</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in a
    cumque repellat repellendus velit nemo praesentium eaque? Rerum, dicta sit,
    excepturi eveniet in porro minima inventore officiis nobis culpa veniam
    impedit autem voluptas, sed perspiciatis maxime laborum a eius error odio
    beatae quis? Quidem dolores facere obcaecati consectetur suscipit?
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos sunt
    atque amet qui corporis possimus, explicabo, similique perferendis labore
    debitis libero voluptas quo ullam nam quisquam sed magni excepturi saepe
    officiis repellendus? Sed pariatur, ab cum, corrupti suscipit incidunt
    commodi eius debitis facilis praesentium officiis dolor, nihil maiores
    eveniet perspiciatis eligendi. Corporis, repellendus possimus, voluptates
    illo magni culpa, a mollitia explicabo necessitatibus cumque aspernatur
    harum quasi facere quidem soluta modi? Optio vero, ipsum saepe laudantium
    impedit rem necessitatibus. Earum, labore ratione odio a eius vero
    necessitatibus, provident sint sit alias consectetur beatae explicabo
    laborum nam voluptatum ut? Facilis, quia? Dignissimos nam earum id
    reiciendis consequuntur quod, perspiciatis corrupti voluptatibus. Ex,
    repudiandae. Obcaecati, eligendi tempore possimus rem recusandae omnis sit
    voluptates.
  </p>
</div>
